Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/**
build/**
resources.c
**.deb
.cache/

*.deb
*.tar.gz
*.dsc
*.buildinfo
*.diff.gz
*.changes

obj-x86_64-linux-gnu/**

# Ignore Emacs backup and autosave files
*~
\#*\#
.\#*